<header class="header" id="header">
    <nav id="navbar" class="navbar" style="background-color: black;">
        <div class="nav-content">
            <div class="logo"><a href="#">PetVerse</a></div>
            <div class="nav-icons">
                <button class="icon-btn cart-icon" id="cartIcon">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="cart-count" id="cartCount" style="font-size: small;background-color: #FF6B01;border-radius: 5px; width: 15px;">0</span>
                </button>
                <button class="icon-btn"><i class="fa fa-user"></i></button>
            </div>
            <div class="search">
                <input class="search-bar" type="text" placeholder="Search pets, products or services">
                <button class="search-btn"><i class="fa fa-search"></i></button>
            </div>
            <button class="hamburger" id="hamburger">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/#about">About</a></li>
                <li><a href="/#searchby-pet">Pets</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </div>
    </nav>
</header>